<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3>Home</h3>

 <!-- Top row with form-->
<div class="row">
	 <div class="col-2">
	 	<a th:href="@{/ui/brand}" title="Employees"> <i class="fas fa-users"></i> </a>
	 </div>	

	  <div class="col-2">
	 	<a th:href="@{/ui/brand}" title="Brands"> <i class="fas fa-bold"></i> </a>
	 </div>	

	 <div class="col-2">
	 	<a th:href="@{/ui/product}" title="Product"> <i class="fas fa-pager"></i> </a>
	 </div>	

	 <div class="col-2">
	 	<a th:href="@{/ui/inventory}" title="Inventory"> <i class="fas fa-info"></i> </a>
	 </div>	

	 <div class="col-2">
	 	<a th:href="@{/ui/order}" title="Order"> <i class="fas fa-genderless"></i> </a>
	 </div>	

	 <div class="col-2">
	 	<a th:href="@{/ui/report}" title="Report"> <i class="fas fa-registered"></i> </a>
	 </div>	

	 <div class="col-2 col-md-offset-4">
	 	<a th:href="@{/ui/admin}" title="Admin"> <i class="fas fa-cog"></i> </a>
	 </div>	

</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>