<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>

<div class="container center_div">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">
                <h1 class="display-4">POINT OF SALE!</h1>
                <p class="lead">Welcome to the Increff Pos</p>
                <hr class="my-4">
                <p>This application gives you access to POS portal</p>
                <a class="btn btn-primary btn-lg" role="button" th:href="@{/site/login}">Get Started</a>
            </div>

        </div>
    </div>
</div> <!--Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>
