<!doctype html>

<head th:replace="snippets.html :: name_head" xmlns:th="http://www.w3.org/1999/xhtml"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar" xmlns:th="http://www.w3.org/1999/xhtml"></nav>


<div class="container">
 <!-- Top row with form-->
 <div class="row">
	 <div class="col-12">
		You have been logged out successfully.
		Login again
	 </div>	
</div> 

</div> <!-- Container-->

<footer th:replace="snippets.html :: name_footer" xmlns:th="http://www.w3.org/1999/xhtml"></footer>

</body>

</html>
