<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3 class="text-center">Customer order</h3>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="orderitem-form">
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputBarcode">Barcode</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputBarcode" name="barcode" placeholder="enter barcode"
                               type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="inputQuantity">Quantity</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="inputQuantity" name="quantity" placeholder="enter quantity"
                               type="text">
                    </div>
                </div>

                <button class="btn btn-primary" id="add-order" type="button">Add</button>
                               &nbsp;

                <button class="btn btn-primary" type="button" id ="order-form">Create order</button>
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>

    <div class="row" id ="refresh-now">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="order-table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <div class="align-bottom">
            <div class="pull-left">
                <button class="btn btn-primary" type="button" id ="refresh-page">Refresh</button>
            </div>
            <div class="row">
                &nbsp;
            </div>

            <div class="pull-right">
                <a th:href="@{/api/order/report}" target="_blank" class="btn btn-primary">Create Invoice</a>
            </div>

        </div>

    <!-- Order Edit Modal -->
    <div class="modal" id="edit-order-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Order item</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="order-edit-form">
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="inputQuantity">Quantity</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="quantity" placeholder="enter quantity"
                                       type="text">
                            </div>
                        </div>
                        <input name="barcode" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="update-order" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Order Edit Modal -->
    <div class="modal" id="upload-order-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Order</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="order-file">
                        <input class="custom-file-input" id="orderFile" type="file">
                        <label class="custom-file-label" for="orderFile" id="orderFileName">Choose file</label>
                    </div>
                    <a target="_blank" th:href="@{/sample/order.tsv}">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="process-data" type="button">Upload</button>
                    <button class="btn btn-warning" id="download-errors" type="button">Download Errors</button>
                </div>
            </div>
        </div>
    </div>

        

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order.js}"></script>

</body>

</html>