    <!doctype html>

    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:replace="snippets.html :: name_head" ></head>

    <body>

        <nav th:replace="snippets.html :: name_app_navbar"></nav>

        <div class="container" >

            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="sales-report">Sales report</button>
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="inventory-report">Inventory report</button>
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="brand-report">Brand report</button>
                </div>
            </div>
            &nbsp;
            <div class="row">
               <!-- Table -->
               <div class="col-12">
                <table class="table table-striped" id="report-table">
                  <thead>
                  </thead>
                  <tbody>
                  </tbody>
              </table>

          </div>
      </div>

      <div class="modal" tabindex="-1" role="dialog" id="sales-report-modal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Sales Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <form class="form-inline" id="report-form">
                      <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label for="inputStartDate" class="col-sm-2 col-form-label">StartDate</label>
                                    <input type="date" class="form-control" name="startdate" id="inputStartDate" placeholder="enter Start Date">
                                </div>
                            </div>
                        </div>
                        <div class='col-6'>
                            <div class="form-group">
                                <div class="col-sm-6">  
                                    <label for="inputEndDate" class="col-sm-2 col-form-label">EndDate</label>
                                    <input type="date" class="form-control" name="endate" id="inputEndDate" placeholder="enter End Date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="brand" id="brand">
                    <input type="hidden" class="form-control" name="category" id="category">
                </form>
                <div class="row">
                    <div class="col-md-3">
                        <label for="selectBrand" class="col-sm-2 col-form-label">Brand</label>
                        <select class="form-control" id="selectBrand">
                          <option>--    --</option>
                      </select>    
                  </div>

                  <div class="col-md-3">
                    <label for="selectCategory" class="col-sm-2 col-form-label">Category</label>
                    <select class="form-control" id="selectCategory">
                      <option>--    --</option>
                  </select>    
              </div>
          </div>
      </div> 
  </div> 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" id="generate-report">  Generate report  </button>
</div>
</div>
</div>
</div>
<!-- Blank Row -->
<div class="row">
    &nbsp;
</div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/report.js}"></script>

</body> 

</html>